<% include public/top.ejs %>


<div class="search-engines">
    <div class="container">
        <div class="panel">
            <div id="carousel-example-generic" class="carousel slide banner" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <% for(var i = 0 ; i < bannerImages.length; i++) { var image = bannerImages[i];%>
                    <li data-target="#carousel-example-generic" data-slide-to="<%= i %>" class="<%= (i==0) ? 'active' : ''%>"></li>
                    <%}%>
                </ol>

                <!-- Wrapper for slides -->
                <ul class="carousel-inner" role="listbox">
                    <% for(var i = 0 ; i < bannerImages.length; i++) { var image = bannerImages[i];%>
                    <li class="item <%= (i==0) ? 'active' : ''%>">
                        <img src="<%= image.url %>" alt="<%= image.banner_desc %>">
                        <div class="carousel-caption desc">
                            <a href="/game/<%= image.id %>" class="banner-title" target="_blank"><%= image.banner_desc %></a>
                        </div>
                    </li>
                    <%}%>
                </ul>
            </div>
            <!--<div class="banner" data-selector="banner">

                <ul>
                    <li>
                        <a href="game/418" target="_blank"><img src="http://static.wisdom-china.cn//images/1/5031/3986/5275/269151546d8a62d89807fc8de3e52427_2_505x355.jpg?640x442" alt="夜跑马拉松！狮城跑者狂欢之夜" /></a>
                        <div class="desc">
                            <div></div>
                            <a href="game/418" class="banner-title" target="_blank">夜跑马拉松！狮城跑者狂欢之夜</a>
                            <p> <a href="game/418" target="_blank"></a> </p>
                        </div>
                    </li>
                </ul>

                <div class="banner-controller"></div>
            </div>-->
            <div class="search-panel">
                <div class="tabs-panel">
                    <ul class="nav nav-tabs tabs-head">
                        <li class="active current"><a href="#findGame" data-toggle="tab">找赛事</a></li>
                        <li><a href="#findActivity" data-toggle="tab">找活动</a></li>
                        <li><a href="#findVenues" data-toggle="tab">找场馆</a></li>
                    </ul>

                    <div class="tab-content tabs-body">
                        <div class="tab-pane active" id="findGame">
                            <form method="get" action="__APP__/Game">
                                <input type="hidden" value="all" name="provinceId">
                                <input type="hidden" value="all" name="cityId">
                                <table>
                                    <tbody>
                                    <tr>
                                        <th>关键字</th>
                                        <td><input type="text" style="margin:0;" placeholder="（选填）运动名/地区" name="keyword" class="span5"></td>
                                    </tr>
                                    <tr>
                                        <th>运动项目</th>
                                        <td>
                                            <div id="eventItem" class="datadropdown">
                                                <div class="datadropdown-head">
                                                    <input type="hidden" value="all" name="sportTypeId">
                                                    <input type="text" placeholder="全部" readonly="readonly" class="span2 datadropdown-action">
                                                </div>
                                                <div class="datadropdown-content" style="padding: 10px; display: none;"><style>#NTGUID__c{min-width:400px; position: relative;}#NTGUID__c a.select-all{    display: inline-block;    text-align: center;    padding: 0 10px;    line-height: 20px;    height: 20px;    color: #fff;    background-color: #F5A623;    border-radius: 3px;    -webkit-border-radius: 3px;    -moz-border-radius: 3px;  }#NTGUID__c a.select-all:hover{    text-decoration: none;    background-color: #E08C03;    transition: all .3s;    -webkit-transition: all .3s;    -moz-transition: all .3s;  }#NTGUID__c dt{    display: block;    border-bottom: 3px solid #ebebeb;    margin-bottom: 5px;    white-space: nowrap;  }#NTGUID__c dt a.tab-item{    display: inline-block;    margin-bottom: -3px;    position: relative;    z-index: 5;    text-align: center;    width: 80px;    line-height: 25px;    height: 25px;    border-bottom: 3px solid #ebebeb;    margin-right: -3px;  }#NTGUID__c dt a.tab-item:hover{    color: #F97D18;    text-decoration: none;  }#NTGUID__c dt a.tab-item.current{    border-bottom: 3px solid #F97D18;    color: #F97D18;  }#NTGUID__c dd ul{    display: block;  }#NTGUID__c dd li{    float: left;    width: 76px;    white-space: nowrap;    text-overflow:ellipsis;    overflow: hidden;    padding: 2px;  }#NTGUID__c dd li a{    display: inline-block;    float: left;    width: 76px;    text-align: center;    overflow: hidden;    line-height: 25px;    height: 25px;    white-space: nowrap;    text-overflow:ellipsis;    overflow: hidden;  }#NTGUID__c dd li a.current{    background-color: #F5A623;    color: #fff;    border-radius: 3px;    -webkit-border-radius: 3px;    -moz-border-radius: 3px;  }#NTGUID__c dd li a:hover{    text-decoration: none;    border-radius: 3px;    -webkit-border-radius: 3px;    -moz-border-radius: 3px;    background-color: #EBEBEB;    color:#555;    transition: all .3s;    -webkit-transition: all .3s;    -moz-transition: all .3s;  }#NTGUID__c dd.hide{    display: none;  }</style>
                                                    <div style="width:405px" id="NTGUID__c">
                                                        <a data-selector="datadropdownClose" class="datadropdown-close" href="javascript:;">×</a>
                                                        <dl>
                                                            <dt>
                                                            <p><a data-value="" class="select-all" href="javascript:;">所有项目</a></p>
                                                            <% for(var i = 0; i < games.length; i++) { var game = games[i]; %>
                                                                <a class="tab-item <%= (i == 0) ? 'current' : ''%>" data-value="<%= game.id %>" href="javascript:;"><%= game.name%></a>
                                                            <%}%>
                                                            </dt>

                                                            <% for(var i = 0; i < games.length; i++) { var game = games[i]; %>
                                                            <dd class="<%= (i == 0) ? '' : 'hide' %>">
                                                                <ul class="clearfix">
                                                                <% game.child.forEach(function(child) {%>
                                                                    <li><a title="<%= child.name %>" data-value="<%= child.id %>" href="javascript:;"><%= child.name %></a></li>
                                                                <%})%>
                                                                </ul>
                                                            </dd>
                                                            <%}%>
                                                        </dl>
                                                    </div>

                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>赛事状态</th>
                                        <td>
                                            <label class="radio inline"><input type="radio" value="" checked="checked" name="state"><span>全部</span></label>
                                            <label class="radio inline"><input type="radio" value="1" name="state"><span>报名中</span></label>
                                            <label class="radio inline"><input type="radio" value="4" name="state"><span>进行中</span></label>
                                            <label class="radio inline"><input type="radio" value="5" name="state"><span>已结束</span></label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>比赛日期</th>
                                        <td>
                                            <label class="radio inline"><input type="radio" value="all" checked="checked" name="timeType" data-selector="eventDate"><span>全部</span></label>
                                            <label class="radio inline"><input type="radio" value="week" name="timeType" data-selector="eventDate"><span>未来一周</span></label>
                                            <label class="radio inline"><input type="radio" value="month" name="timeType" data-selector="eventDate"><span>未来一月</span></label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>城市</th>
                                        <td class="clearfix">
                                            <select data-selector="hotCity">
                                                <option value="所有城市">所有城市</option>
                                                <option value="北京">北京</option>
                                                <option value="上海">上海</option>
                                                <option value="广东">广东</option>
                                                <option value="天津">天津</option>
                                                <option value="湖南">湖南</option>
                                                <option value="浙江">浙江</option>
                                                <option value="河北">河北</option>
                                            </select>
                                            <div class="pull-right">
                                                <button class="btn btn-warning" type="submit">搜索</button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                        <div class="tab-pane" id="findActivity">
                            <form method="get" action="/activitycommon/search">
                                <input type="hidden" value="all" name="provinceId">
                                <input type="hidden" value="all" name="cityId">
                                <table>
                                    <tbody>
                                    <tr>
                                        <th>关键字</th>
                                        <td><input type="text" placeholder="（选填）运动名/地区" name="keyword" class="span5"></td>
                                    </tr>
                                    <tr>
                                        <th>运动项目</th>
                                        <td>
                                            <div id="activityItem" class="datadropdown">
                                                <div class="datadropdown-head">
                                                    <input type="hidden" value="all" name="sportTypeId">
                                                    <input type="text" placeholder="全部" readonly="readonly" class="span2 datadropdown-action">
                                                </div>
                                                <div class="datadropdown-content" style="padding: 10px; display: none;"><style>#NTGUID__g{min-width:400px; position: relative;}#NTGUID__g a.select-all{    display: inline-block;    text-align: center;    padding: 0 10px;    line-height: 20px;    height: 20px;    color: #fff;    background-color: #F5A623;    border-radius: 3px;    -webkit-border-radius: 3px;    -moz-border-radius: 3px;  }#NTGUID__g a.select-all:hover{    text-decoration: none;    background-color: #E08C03;    transition: all .3s;    -webkit-transition: all .3s;    -moz-transition: all .3s;  }#NTGUID__g dt{    display: block;    border-bottom: 3px solid #ebebeb;    margin-bottom: 5px;    white-space: nowrap;  }#NTGUID__g dt a.tab-item{    display: inline-block;    margin-bottom: -3px;    position: relative;    z-index: 5;    text-align: center;    width: 80px;    line-height: 25px;    height: 25px;    border-bottom: 3px solid #ebebeb;    margin-right: -3px;  }#NTGUID__g dt a.tab-item:hover{    color: #F97D18;    text-decoration: none;  }#NTGUID__g dt a.tab-item.current{    border-bottom: 3px solid #F97D18;    color: #F97D18;  }#NTGUID__g dd ul{    display: block;  }#NTGUID__g dd li{    float: left;    width: 76px;    white-space: nowrap;    text-overflow:ellipsis;    overflow: hidden;    padding: 2px;  }#NTGUID__g dd li a{    display: inline-block;    float: left;    width: 76px;    text-align: center;    overflow: hidden;    line-height: 25px;    height: 25px;    white-space: nowrap;    text-overflow:ellipsis;    overflow: hidden;  }#NTGUID__g dd li a.current{    background-color: #F5A623;    color: #fff;    border-radius: 3px;    -webkit-border-radius: 3px;    -moz-border-radius: 3px;  }#NTGUID__g dd li a:hover{    text-decoration: none;    border-radius: 3px;    -webkit-border-radius: 3px;    -moz-border-radius: 3px;    background-color: #EBEBEB;    color:#555;    transition: all .3s;    -webkit-transition: all .3s;    -moz-transition: all .3s;  }#NTGUID__g dd.hide{    display: none;  }</style>
                                                    <div style="width:400px" id="NTGUID__g">
                                                        <a data-selector="datadropdownClose" class="datadropdown-close" href="javascript:;">×</a>
                                                        <dl>
                                                            <dt>
                                                            <p><a data-value="" class="select-all" href="javascript:;">所有项目</a></p>

                                                            </dt>

                                                            <dd>
                                                            <% for(var i = 0; i < activities.length; i++) { var activity = activities[i];%>
                                                                <li><a title="<%= activity.name %>" data-value="<%= activity.id %>" href="javascript:;"><%= activity.name %></a></li>
                                                            <%}%>
                                                            </dd>

                                                        </dl>
                                                    </div>

                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>活动日期</th>
                                        <td style="position: relative;z-index: 200;">
                                            <label class="radio inline"><input type="radio" value="all" checked="checked" name="timeType" data-selector="eventDate"><span>全部</span></label>
                                            <label class="radio inline"><input type="radio" value="week" name="timeType" data-selector="eventDate"><span>未来一周</span></label>
                                            <label class="radio inline"><input type="radio" value="month" name="timeType" data-selector="eventDate"><span>未来一月</span></label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <td class="clearfix">
                                            <div class="pull-right">
                                                <button class="btn btn-warning" type="submit">搜索</button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                        <div class="tab-pane" id="findVenues">
                            <form method="get" action="/venue/search">
                                <input type="hidden" value="all" name="provinceId">
                                <input type="hidden" value="all" name="cityId">
                                <table>
                                    <tbody>
                                    <tr>
                                        <th>关键字</th>
                                        <td><input type="text" placeholder="（选填）运动名/地区" name="keyword" class="span5"></td>
                                    </tr>
                                    <tr>
                                        <th>运动项目</th>
                                        <td>
                                            <div id="venuesItem" class="datadropdown">
                                                <div class="datadropdown-head">
                                                    <input type="hidden" value="all" name="sportTypeId">
                                                    <input type="text" placeholder="全部" readonly="readonly" class="span2 datadropdown-action">
                                                </div>
                                                <div class="datadropdown-content" style="padding: 10px; display: none;"><style>#NTGUID__b{min-width:400px; position: relative;}#NTGUID__b a.select-all{    display: inline-block;    text-align: center;    padding: 0 10px;    line-height: 20px;    height: 20px;    color: #fff;    background-color: #F5A623;    border-radius: 3px;    -webkit-border-radius: 3px;    -moz-border-radius: 3px;  }#NTGUID__b a.select-all:hover{    text-decoration: none;    background-color: #E08C03;    transition: all .3s;    -webkit-transition: all .3s;    -moz-transition: all .3s;  }#NTGUID__b dt{    display: block;    border-bottom: 3px solid #ebebeb;    margin-bottom: 5px;    white-space: nowrap;  }#NTGUID__b dt a.tab-item{    display: inline-block;    margin-bottom: -3px;    position: relative;    z-index: 5;    text-align: center;    width: 80px;    line-height: 25px;    height: 25px;    border-bottom: 3px solid #ebebeb;    margin-right: -3px;  }#NTGUID__b dt a.tab-item:hover{    color: #F97D18;    text-decoration: none;  }#NTGUID__b dt a.tab-item.current{    border-bottom: 3px solid #F97D18;    color: #F97D18;  }#NTGUID__b dd ul{    display: block;  }#NTGUID__b dd li{    float: left;    width: 76px;    white-space: nowrap;    text-overflow:ellipsis;    overflow: hidden;    padding: 2px;  }#NTGUID__b dd li a{    display: inline-block;    float: left;    width: 76px;    text-align: center;    overflow: hidden;    line-height: 25px;    height: 25px;    white-space: nowrap;    text-overflow:ellipsis;    overflow: hidden;  }#NTGUID__b dd li a.current{    background-color: #F5A623;    color: #fff;    border-radius: 3px;    -webkit-border-radius: 3px;    -moz-border-radius: 3px;  }#NTGUID__b dd li a:hover{    text-decoration: none;    border-radius: 3px;    -webkit-border-radius: 3px;    -moz-border-radius: 3px;    background-color: #EBEBEB;    color:#555;    transition: all .3s;    -webkit-transition: all .3s;    -moz-transition: all .3s;  }#NTGUID__b dd.hide{    display: none;  }</style>
                                                    <div style="width:400px" id="NTGUID__b">
                                                        <a data-selector="datadropdownClose" class="datadropdown-close" href="javascript:;">×</a>
                                                        <dl>
                                                            <dt>
                                                            <p><a data-value="" class="select-all" href="javascript:;">所有项目</a></p>

                                                            </dt>

                                                            <dd>
                                                            <% for(var i = 0; i < venues.length; i++) { var venue = venues[i];%>
                                                                <li><a title="<%= venue.name %>" data-value="<%= venue.id %>" href="javascript:;"><%= venue.name %></a></li>
                                                            <%}%>
                                                            </dd>
                                                        </dl>
                                                    </div>

                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>城市</th>
                                        <td>
                                            <select data-selector="hotCity"><option value="所有城市">所有城市</option><option value="北京">北京</option><option value="上海">上海</option><option value="广州">广州</option><option value="深圳">深圳</option></select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <td class="clearfix">
                                            <div class="pull-right">
                                                <button class="btn btn-warning" type="submit">搜索</button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="button-panel">
                    <a href="game/publish" class="publish-button"><i class="icon50 icon50-event"></i>发布赛事</a>
                    <a href="activity/publish" class="publish-button"><i class="icon50 icon50-activity"></i>发布活动</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container content-row">
    <div class="row">
        <div class="span12" style="height: 455px;">
            <style scoped="scoped">#NTGUID__6{    overflow: hidden;  }#NTGUID__6 dt.root-title{    display: block;    border:1px solid #F5A623;    border-width: 0 0 2px 6px;    height: 34px;  }#NTGUID__6 dt.root-title h4{    display: inline-block;    vertical-align: middle;    padding: 0 10px;    font-size: 18px;    color: #363636;    margin: 0;    line-height: 34px;  }#NTGUID__6 dt.root-title a{    vertical-align: middle;    display: inline-block;    zoom:1;    line-height: 20px;    height: 20px;    color: #555;    text-align: center;    padding: 0 10px;    margin-left: 5px;  }#NTGUID__6 dt.root-title a:hover{    text-decoration: none;    background-color: #EBEBEB;    border-radius: 3px;    -webkit-border-radius: 3px;    -moz-border-radius: 3px;  }#NTGUID__6 dt.root-title a.current{    background-color: #F5A623;    border-radius: 3px;    -webkit-border-radius: 3px;    -moz-border-radius: 3px;    color: #fff;  }#NTGUID__6 dd.root-content{    display: block;  }#NTGUID__6 dd.hide{    display: none;  }#NTGUID__6 ul.events-list{    display: block;    height: 410px;    width: 900px;  }#NTGUID__6 ul.events-list li{    display: block;    float: left;    margin-top: 10px;    margin-right: 10px;    overflow: hidden;    position: relative;    width: 290px;    height: 200px;  }#NTGUID__6 ul.events-list li img{    display: block;    width: 290px;    height: 200px;  }#NTGUID__6 ul.events-list li.first{    height: 410px;  }#NTGUID__6 ul.events-list li.first img{    height:410px;  }#NTGUID__6 ul.events-list li div.description{    position: absolute;    left: 0px;    bottom: 0px;    width: 100%;    z-index: 10;  }#NTGUID__6 ul.events-list li div.description div.desc-bg{    position: absolute;    left: 0px;    top: 0px;    width: 100%;    height: 100%;    background-color: #000;    opacity: 0.6;    filter: alpha(opacity=60);    z-index: 5;  }#NTGUID__6 ul.events-list li div.description div.desc-content{    position: relative;    z-index: 10;    overflow: hidden;    padding:10px;  }#NTGUID__6 ul.events-list li div.description div.desc-content dt{    padding: 0;    margin: 0;    white-space: nowrap;    text-overflow:ellipsis;    overflow: hidden;    position: relative;    line-height: 20px;    height: 20px;    display: block;    font-weight: normal;  }#NTGUID__6 ul.events-list li div.description div.desc-content dt a{    display: inline-block;    overflow: hidden;    white-space: nowrap;    text-overflow:ellipsis;    width: 200px;    font-size:14px;    color: #fff;  }#NTGUID__6 ul.events-list li div.description div.desc-content dt i{    display: inline-block;    line-height: 20px;    color:#fff;    font-style: normal;    text-align: center;    padding: 0 5px;    background-color: #F5A623;    position: absolute;    right: 0px;    top: 0px;    font-size: 12px;  }#NTGUID__6 ul.events-list li div.description div.desc-content dt i.ing{    background-color: #FB6A6A;  }#NTGUID__6 ul.events-list li div.description div.desc-content dd{    display: none;  }#NTGUID__6 ul.events-list li div.description div.desc-content dd p{    margin:0;    padding:0;    line-height: 22px;    color: #999;  }#NTGUID__6 ul.events-list li div.description div.desc-content dd span.white{    color: #fff;  }</style>
            <div id="NTGUID__6">
                <!-- && start 精选赛事：v_choice_game-->
                <dl>
                    <dt class="root-title">
                    <h4>精选赛事</h4>
                    <a data-selector="tabChanger" data-index="0" href="javascript:;" class="current">全国</a>
                    </dt>

                    <dd class="root-content hide" style="display: block;">
                        <ul class="events-list">
                            <li class="first">
                                <a href="/game/418"><img src="http://static.wisdom-china.cn//images/1/0999/6513/2248/249e4acd5bf3b95047b442a04abc5083_2_290x410.jpg?290x410"></a>
                                <div class="description">
                                    <div class="desc-bg"></div>
                                    <div class="desc-content">
                                        <dl>
                                            <dt>
                                                <a href="/game/418">新加坡Sundown国际马拉松之旅</a>
                                                <i>正在报名</i>
                                            </dt>
                                            <dd style="display: none;">
                                                <p>新加坡&nbsp;&nbsp;2015-07-02</p>
                                                <p>报名 <span class="text-warning">2</span>/<span class="white">20</span>&nbsp;&nbsp;|&nbsp;&nbsp;关注 <span class="white">32</span>&nbsp;&nbsp;|&nbsp;&nbsp;话题 <span class="white">0</span></p>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </dd>
                </dl>
                <!-- && end -->
            </div>
        </div>
        <div class="span4 events-rankings">
            <h4 class="slider-title"> <img src="http://static.wisdom-china.cn/iyuesai/images/pages/index-icon1.png" /> <span>热门赛事排行</span> </h4>
            <ul>
                <% for(var i = 0; i < hotGames.length; i++) { var game = hotGames[i];%>
                    <li><i class="top<%= i%>>"><{$k}></i><a href="/game/<%= game.id %>"><%= game.name %></a></li>
                <%};%>
            </ul>
        </div>
    </div>
</div>
<div class="container content-row">
    <div class="row">
        <div class="span12">
            <style scoped="scoped">#NTGUID__5{    overflow: hidden;    width: 890px;  }#NTGUID__5 table{    width: 100%;    overflow: hidden;  }#NTGUID__5 table td{    overflow: hidden;    white-space: nowrap;  }#NTGUID__5 dt.root-title{    display: block;    border:1px solid #F5A623;    border-width: 0 0 2px 6px;    height: 34px;  }#NTGUID__5 dt.root-title h4{    display: inline-block;    vertical-align: middle;    padding: 0 10px;    font-size: 18px;    color: #363636;    margin: 0;    line-height: 34px;  }#NTGUID__5 dt.root-title a{    vertical-align: middle;    display: inline-block;    zoom:1;    line-height: 20px;    height: 20px;    color: #555;    text-align: center;    padding: 0 10px;    margin-left: 5px;  }#NTGUID__5 dt.root-title a:hover{    text-decoration: none;    background-color: #EBEBEB;    border-radius: 3px;    -webkit-border-radius: 3px;    -moz-border-radius: 3px;  }#NTGUID__5 dt.root-title a.current{    background-color: #F5A623;    border-radius: 3px;    -webkit-border-radius: 3px;    -moz-border-radius: 3px;    color: #fff;  }#NTGUID__5 dd.root-content{    display: block;  }#NTGUID__5 dd.hide{    display: none;  }#NTGUID__5 ul.events-list{    display: block;    height: 410px;    width: 900px;  }#NTGUID__5 ul.events-list li{    display: block;    float: left;    margin-top: 10px;    margin-right: 10px;    overflow: hidden;    position: relative;    width: 290px;    height: 200px;    background-color: red;  }#NTGUID__5 ul.events-list li img{    display: block;    width: 290px;    height: 200px;  }#NTGUID__5 ul.events-list li.first{    height: 410px;  }#NTGUID__5 ul.events-list li.first img{    height:410px;  }#NTGUID__5 ul.events-list li div.description{    position: absolute;    left: 0px;    bottom: 0px;    width: 100%;    z-index: 10;  }#NTGUID__5 ul.events-list li div.description div.desc-bg{    position: absolute;    left: 0px;    top: 0px;    width: 100%;    height: 100%;    background-color: #000;    opacity: 0.6;    filter: alpha(opacity=60);    z-index: 5;  }#NTGUID__5 ul.events-list li div.description div.desc-content{    position: relative;    z-index: 10;    overflow: hidden;    padding:10px;  }#NTGUID__5 ul.events-list li div.description div.desc-content dt{    padding: 0;    margin: 0;    white-space: nowrap;    text-overflow:ellipsis;    overflow: hidden;    position: relative;    line-height: 20px;    height: 20px;    display: block;    font-weight: normal;  }#NTGUID__5 ul.events-list li div.description div.desc-content dt a{    display: inline-block;    overflow: hidden;    white-space: nowrap;    text-overflow:ellipsis;    width: 200px;    font-size:14px;    color: #fff;  }#NTGUID__5 ul.events-list li div.description div.desc-content dt i{    display: inline-block;    line-height: 20px;    color:#fff;    font-style: normal;    text-align: center;    padding: 0 5px;    background-color: #F5A623;    position: absolute;    right: 0px;    top: 0px;    font-size: 12px;  }#NTGUID__5 ul.events-list li div.description div.desc-content dt i.ing{    background-color: #FB6A6A;  }#NTGUID__5 ul.events-list li div.description div.desc-content dd{    display: none;  }#NTGUID__5 ul.events-list li div.description div.desc-content dd p{    margin:0;    padding:0;    line-height: 22px;    color: #999;  }#NTGUID__5 ul.events-list li div.description div.desc-content dd span.white{    color: #fff;  }#NTGUID__5 div.topic-tabs{    padding: 10px;  }#NTGUID__5 div.topic-tabs dt.topic-type{    display: block;    float: left;    width: 50px;    overflow: hidden;  }#NTGUID__5 div.topic-tabs dt.topic-type a.topic-typer{    display: block;    width: 50px;    height: 28px;    background-color: #F6F6F6;    color:#555;    padding: 11px 0;    text-align: center;    line-height: 14px;    margin-top:10px;    overflow: hidden;  }#NTGUID__5 div.topic-tabs dt.topic-type a.topic-typer:hover{    background-color: #EBEBEB;    text-decoration: none;  }#NTGUID__5 div.topic-tabs dt.topic-type a.topic-typer.current{    background-color: #F6B549;    color:#fff;  }#NTGUID__5 div.topic-tabs dd.topic-rankings{    margin-left: 70px;    display: block;  }#NTGUID__5 div.topic-tabs dd.topic-rankings ul{    display: block;    margin: 0;  }#NTGUID__5 div.topic-tabs dd.topic-rankings li{    display: block;    vertical-align: top;    padding-bottom: 25px;  }#NTGUID__5 div.topic-tabs dd.hide{    display: none;  }#NTGUID__5 div.no-data{    text-align: center;    color: #999;    font-size: 18px;    height: 372px;    line-height: 372px;    margin-top: 10px;  }#NTGUID__5 h2.ranking-number{    height: 24px;    line-height: 24px;    position: relative;  }#NTGUID__5 h2.ranking-number span{    display: inline-block;    position: relative;    z-index: 10;    font-size: 24px;    padding: 0 10px;    background-color: #F9F9F9;    margin-left: 20px;  }#NTGUID__5 h2.ranking-number i{    display: block;    height: 4px;    width: 100%;    background-color: #EBEBEB;    top: 10px;    left: 0px;    z-index: 5;    position: absolute;  }#NTGUID__5 .text-error{    color: #FB6A6A;  }#NTGUID__5 table{    width: 100%;  }#NTGUID__5 th{    width: 170px;    padding-right: 12px;    text-align: left;    vertical-align: top;  }#NTGUID__5 th img{    width: 170px;    height: 118px;  }#NTGUID__5 td{    vertical-align: top;  }#NTGUID__5 td h4{    display: block;    margin: 0;    padding: 0;    overflow: hidden;    white-space: nowrap;    text-overflow:ellipsis;    margin-bottom: 10px;    width: 610px;  }#NTGUID__5 td h4 a{    color:#444;    font-size: 18px;    font-weight: normal;  }#NTGUID__5 td h4 a:hover{    text-decoration: none;    color: #F5A623;  }#NTGUID__5 td p.ranking-desc{    margin: 0;    padding: 0;    overflow: hidden;    height: 40px;    line-height: 20px;    color: #999;    font-size: 14px;    text-overflow:ellipsis;    width: 610px;  }#NTGUID__5 .user-information{    overflow: hidden;    margin-top: 10px;  }#NTGUID__5 .user-information .pull-left img{    width: 40px;    height: 40px;    border-radius: 50%;    -webkit-border-radius: 50%;    -moz-border-radius: 50%;    display: inline-block;    vertical-align: middle;  }#NTGUID__5 .user-information .pull-left a:hover img{    opacity: .8;    filter: alpha(opacity=80);  }#NTGUID__5 .user-information .pull-left p{    display: inline-block;    zoom:1;    vertical-align: middle;    line-height: 20px;    color: #DADADA;    margin: 0;    padding: 0;    margin-left: 12px;  }#NTGUID__5 .user-information .pull-left p a{    color: #F5A623;  }#NTGUID__5 .user-information .pull-right{    line-height: 20px;    color: #D8D8D8;    height: 20px;    margin-top: 10px;  }#NTGUID__5 .icon20{    display: inline-block;    width: 20px;    height: 20px;    margin-right: 5px;    line-height: 20px;    vertical-align: middle;    background-image: url("http://static.wisdom-china.cn/iyuesai/images/icons/icon-20.png");    background-position: 20px 20px;    background-repeat: no-repeat;    overflow: hidden;  }#NTGUID__5 .icon20-comment{    background-position: left top;  }#NTGUID__5 .icon20-praise{    background-position: left -20px;  }#NTGUID__5 .game-name{    display: inline-block;    width: 360px;    white-space: nowrap;    overflow: hidden;    text-overflow:ellipsis;    vertical-align: middle;  }</style>
            <div id="NTGUID__5">
                <!-- && start 热门话题：v_topic 每个类目下取评论数最多的两个 -->
                <dl>
                    <dt class="root-title">
                    <h4>赛友圈热门话题</h4>
                    </dt>
                    <dd class="root-content">
                        <div class="topic-tabs clearfix">
                            <dl>
                                <dt class="topic-type">
                                    <a style="line-height: 28px;" class="topic-typer" data-index="0" href="javascript:;">精选</a>
                                    <a class="topic-typer" data-index="1" href="javascript:;">马拉松<br>路跑</a>
                                    <a class="topic-typer" data-index="2" href="javascript:;">全民<br>健身</a>
                                    <a class="topic-typer" data-index="3" href="javascript:;">球类<br>运动</a>
                                    <a class="topic-typer" data-index="4" href="javascript:;">户外<br>运动</a>
                                    <a class="topic-typer current" data-index="5" href="javascript:;">综合<br>其他</a>
                                </dt>

                                <dd class="topic-rankings">
                                    <ul>
                                        <li>
                                            <h2 class="ranking-number text-error"><i></i></h2>
                                            <table>
                                                <tbody>
                                                <tr>

                                                    <th><a href="/topic/10488"><img title="本来还在犹豫要不要从广州这边折腾过去……结果刚才刷微信看到了啥？士林夜市！！！蚵仔面线天妇罗蚵仔煎清蒸油炸肉丸珍珠奶茶广东粥青蛙下蛋大饼包小饼十全排骨汤……有多少给我来多少！尤其是士林大香肠！那个头那口感那味道！去年在台北吃过一次回来就对大陆的“台式香肠”完全死心了好不！！咳咳，..." src="http://static.wisdom-china.cn//images/1/5488/1626/9733/e58ca4671f5105bd056525e4579f28e5_2_170x118.jpg"></a></th>

                                                    <td>
                                                        <h4>
                                                            <a href="/topic/10488">本来还在犹豫要不要从广州这边折腾过去……结果刚才刷微信看到了啥？士林夜市！！！蚵仔面线天妇罗蚵仔煎清蒸油炸肉丸珍珠奶茶广东粥青蛙下蛋大饼包小饼十全排骨汤……有多少给我来多少！尤其是士林大香肠！那个头那口感那味道！去年在台北吃过一次回来就对大陆的“台式香肠”完全死心了好不！！咳咳，...</a>
                                                        </h4>
                                                        <p class="ranking-desc">本来还在犹豫要不要从广州这边折腾过去……结果刚才刷微信看到了啥？士林夜市！！！蚵仔面线天妇罗蚵仔煎清蒸油炸肉丸珍珠奶茶广东粥青蛙下蛋大饼包小饼十全排骨汤……有多少给我来多少！尤其是士林大香肠！那个头那口感那味道！去年在台北吃过一次回来就对大陆的“台式香肠”完全死心了好不！！咳咳，当然，跑步还是要跑的，两不耽误不是么~</p>
                                                        <div class="user-information clearfix">
                                                            <div class="pull-left">
                                                                <a href="/friend/passport_84089/timeline"><img title="晴空一束" src="http://static.wisdom-china.cn//images/1/5761/2139/3104/5a69b19327dfb8fd6111ea8a0f4e3217_2_40x40.jpg"></a>
                                                                <p>
                                                                    <a href="/friend/passport_84089/timeline">晴空一束</a><br>
                                                                    发表在&nbsp;<a href="/friends/tag/295" title="2015四季跑·深圳站" class="game-name">2015四季跑·深圳站</a>
                                                                </p>
                                                            </div>
                                                            <div class="pull-right">
                                                                <a href="/topic/10488"><i class="icon20 icon20-comment"></i>评论&nbsp;<span class="text-error">23</span></a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </li>

                                        <li>
                                            <h2 class="ranking-number"><i></i></h2>
                                            <table>
                                                <tbody>
                                                <tr>

                                                    <th><a href="/topic/10481"><img title="后天就要开始比赛了，哈哈，还是面向跑友们的活动参加起来开心。跑个马拉松回来，朋友圈里全都是给女汉子点赞的，女汉子你妹啊，老娘……咳咳，本姑娘可是女神撒~" src="http://static.wisdom-china.cn//images/1/0892/4312/3784/dfeab6468e763dab7b0d41b0e9c2e90e_2_170x118.jpg"></a></th>

                                                    <td>
                                                        <h4>
                                                            <a href="/topic/10481">后天就要开始比赛了，哈哈，还是面向跑友们的活动参加起来开心。跑个马拉松回来，朋友圈里全都是给女汉子点赞的，女汉子你妹啊，老娘……咳咳，本姑娘可是女神撒~</a>
                                                        </h4>
                                                        <p class="ranking-desc">后天就要开始比赛了，哈哈，还是面向跑友们的活动参加起来开心。跑个马拉松回来，朋友圈里全都是给女汉子点赞的，女汉子你妹啊，老娘……咳咳，本姑娘可是女神撒~</p>
                                                        <div class="user-information clearfix">
                                                            <div class="pull-left">
                                                                <a href="/friend/passport_88924/timeline"><img title="红叶纷纷下" src="http://static.wisdom-china.cn//images/1/9657/0174/3090/65c6418e3f0f757eed24c8bdc0f48e26_2_40x40.jpg"></a>
                                                                <p>
                                                                    <a href="/friend/passport_88924/timeline">红叶纷纷下</a><br>
                                                                    发表在&nbsp;<a href="/friends/tag/304" title="2015 我是女神跑" class="game-name">2015 我是女神跑</a>
                                                                </p>
                                                            </div>
                                                            <div class="pull-right">
                                                                <a href="/topic/10481"><i class="icon20 icon20-comment"></i>评论&nbsp;<span class="text-error">28</span></a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </li>
                                    </ul>
                                </dd>
                            </dl>
                        </div>
                    </dd>
                </dl>
                <!-- && end -->
            </div>
        </div>
        <div class="span4 hot-friends">
            <h4 class="slider-title"> <img src="http://static.wisdom-china.cn/iyuesai/images/pages/index-icon2.png" /> <span>热门赛友圈</span> </h4>
            <div class="hot-labels">
                <!-- && start 热门赛友圈：v_game_activity (select * from v_game_activity where type='game' order by topic_count LIMIT 0, 12) -->
                <ul class="clearfix">
                    <li><a href="friends/tag/1" class="color0">2014广州马拉松</a></li>
                    <li><a href="friends/tag/49" class="color1">穿越技术哪家强</a></li>
                    <li><a href="friends/tag/66" class="color2">国球文艺盛宴</a></li>
                    <li><a href="friends/tag/3" class="color3">长沙四季跑</a></li>
                    <li><a href="friends/tag/44" class="color4">爱约赛跑团</a></li>
                    <li><a href="friends/tag/41" class="color5">杭州马拉松</a></li>
                    <li><a href="friends/tag/54" class="color6">上海马拉松</a></li>
                    <li><a href="friends/tag/43" class="color7">北京雾霾马拉松</a></li>
                    <li><a href="friends/tag/48" class="color8">湖南彩色跑</a></li>
                    <li><a href="friends/tag/55" class="color0">上海四季跑</a></li>
                    <li><a href="friends/tag/42" class="color1">辣妹子</a></li>
                    <li><a href="friends/tag/50" class="color2">湖南大力士</a></li>
                </ul>
                <!-- && end -->
            </div>
            <div class="talent-panel">
                <dl>
                    <dt>
                        <span>赛友达人堂</span>
                        <img src="http://static.wisdom-china.cn/iyuesai/images/pages/index-icon3.png" />
                    </dt>
                </dl>
                <dd>
                    <!-- && start 赛友达人堂：v_doyen_user -->
                    <ul class="clearfix">
                        <li><a href="friend/passport_78650/timeline"><img src="http://static.wisdom-china.cn//images/1/4183/1642/8824/4c6a3263e634699314c4b64e77a4944d_2_80x80.jpg" /></a></li>
                        <li><a href="friend/passport_78612/timeline"><img src="http://static.wisdom-china.cn//images/1/proxy/tp4!sinaimg!cn/2341327747/180/5682992422/1/2341327747_2_80x80.png" /></a></li>
                        <li><a href="friend/passport_78628/timeline"><img src="http://static.wisdom-china.cn//images/1/8678/6858/3804/a635aef3ba4163c7113bb60590e5b534_2_80x80.jpg" /></a></li>
                        <li><a href="friend/passport_75689/timeline"><img src="http://static.wisdom-china.cn//images/1/8197/9900/4920/d2c61e2eb47199f9b5f304dc8226710f_2_80x80.jpg" /></a></li>
                        <li><a href="friend/passport_75913/timeline"><img src="http://static.wisdom-china.cn//images/1/0032/9405/3775/7d3c6e08c27ccdf37cfbeeef76840192_2_120x120.jpg" /></a></li>
                        <li><a href="friend/passport_71749/timeline"><img src="http://static.wisdom-china.cn//images/1/0713/0744/9801/0dd171311c73960e0ed11a07dbac903f_1_120x120.jpg" /></a></li>
                        <li><a href="friend/passport_70468/timeline"><img src="http://static.wisdom-china.cn//images/1/2734/3655/8963/c5039f93e4a62735000dae00cb3b550a_2_80x80.jpg" /></a></li>
                        <li><a href="friend/passport_70511/timeline"><img src="http://static.wisdom-china.cn//images/1/6000/7477/8913/94b9dcb639ace68c534da99952e42e45_2_80x80.jpg" /></a></li>
                    </ul>
                    <!-- && end -->
                </dd>
            </div>
            <div class="adv">
            </div>
        </div>

    </div>
</div>
<div class="container content-row">
    <div class="row">
        <div class="span12">
            <style scoped="scoped">#NTGUID__6{    overflow: hidden;  }#NTGUID__6 dt.root-title{    display: block;    border:1px solid #F5A623;    border-width: 0 0 2px 6px;    height: 34px;  }#NTGUID__6 dt.root-title h4{    display: inline-block;    vertical-align: middle;    padding: 0 10px;    font-size: 18px;    color: #363636;    margin: 0;    line-height: 34px;  }#NTGUID__6 dt.root-title a{    vertical-align: middle;    display: inline-block;    zoom:1;    line-height: 20px;    height: 20px;    color: #555;    text-align: center;    padding: 0 10px;    margin-left: 5px;  }#NTGUID__6 dt.root-title a:hover{    text-decoration: none;    background-color: #EBEBEB;    border-radius: 3px;    -webkit-border-radius: 3px;    -moz-border-radius: 3px;  }#NTGUID__6 dt.root-title a.current{    background-color: #F5A623;    border-radius: 3px;    -webkit-border-radius: 3px;    -moz-border-radius: 3px;    color: #fff;  }#NTGUID__6 dd.root-content{    display: block;    border: 1px solid #EBEBEB;    background-color: #fff;    margin-top: 10px;  }#NTGUID__6 dd.hide{    display: none;  }#NTGUID__6 dd.root-content ul{    display: block;    width: 100%;  }#NTGUID__6 dd.root-content li{    float: left;    width: 50%;    overflow: hidden;    height: 130px;  }#NTGUID__6 dd.root-content li.hover{    background-color: #FAFAFA;    transition: all 0.3s;  }#NTGUID__6 dd.root-content li .li-content{    height: 100px;    margin: 15px;  }#NTGUID__6 dd.root-content li .li-content dt{    width: 56px;    text-align: center;    white-space: nowrap;    text-overflow:ellipsis;    padding-top: 15px;    overflow: hidden;  }#NTGUID__6 dd.root-content li .li-content dd{    float: right;    width: 335px;    overflow: hidden;  }#NTGUID__6 dd.root-content li .li-content dt a{    color: #F5A623;  }#NTGUID__6 dd.root-content li .li-content dt img{    width: 56px;    height: 56px;    border-radius: 50%;    -webkit-border-radius: 50%;    -moz-border-radius: 50%;    margin-bottom: 8px;  }#NTGUID__6 dd.root-content li .li-content dd h4{    display: block;    margin: 0;    padding: 0;    white-space: nowrap;    overflow: hidden;    text-overflow:ellipsis;    margin-bottom: 6px;  }#NTGUID__6 dd.root-content li .li-content dd h4 a{    color: #F5A623;    font-size: 14px;  }#NTGUID__6 dd.root-content li .li-content dd p{    padding: 0;    margin: 0;    color: #666;  }#NTGUID__6 .info-text{    display: inline-block;    margin-right: 8px  }</style>
            <div id="NTGUID__6">
                <dl>
                    <dt class="root-title">
                    <h4>热门活动</h4>
                    <a data-selector="tabChanger" data-index="0" href="javascript:;" class="current">全国</a>
                    </dt>

                    <dd class="root-content hide" style="display: block;">
                        <!-- && start 热门活动：v_hot_activity -->
                        <ul class="clearfix">
                            <volist name="hot_activity" id="vo">
                                <li class="">
                                    <div class="li-content clearfix">
                                        <dl>
                                            <dd>
                                                <h4><a href="/activitycommon/<{$vo.id}>"><{$vo.name}></a></h4>
                                                <p>时间：<{$vo.start_Date}></p>
                                                <p>地点：<{$vo.address}></p>
                                                <p>费用：<{$vo.cost}></p>
                                                <p>
                                                    <span class="info-text"><i class="icon16 icon16-person"></i><{$vo.focus_count}>人感兴趣</span>
                                                    <span class="info-text"><i class="icon16 icon16-joined"></i>已报名6人</span>
                                                </p>
                                            </dd>
                                            <dt><a href="/friend/passport_91603/timeline">
                                                    <img title="牛牛的牛牛" src="http://static.wisdom-china.cn//images/1/6759/5285/7571/a4bf810fdcbd80ed72272d7bf120f732_2_56x56.png"><br><{$vo.input_user}></a></dt>
                                        </dl>
                                    </div>
                                </li>
                            </volist>
                        </ul>
                        <!-- && end -->
                    </dd>

                </dl>
            </div>
        </div>
        <div class="span4 xiaomei-club">
            <h4 class="slider-title"> <img src="http://static.wisdom-china.cn/iyuesai/images/pages/index-icon4.png" /> <span> </span> </h4>
            <div>
                <dl>
                    <dd>
                        <a href="http://www.iyuesai.com/game/131" target="_blank"><img src="http://static.wisdom-china.cn//images/1/4761/0036/7808/a5c2ced3a5277e0e407591ddac1fc3bb_0_0.png?80x80" /></a>
                    </dd>
                    <dt>
                        <a href="http://www.iyuesai.com/game/131" target="_blank">珍藏你的深马时刻！</a>
                    </dt>
                </dl>
                <dl>
                    <dd>
                        <a href="http://www.iyuesai.com/game/344" target="_blank"><img src="http://static.wisdom-china.cn//images/1/2702/9225/4977/fa47f37babbf1be7cb58327a5b9add9d_0_0.png?80x80" /></a>
                    </dd>
                    <dt>
                        <a href="http://www.iyuesai.com/game/344" target="_blank">马拉松破4跑团招募！</a>
                    </dt>
                </dl>
            </div>
        </div>
    </div>
</div>
<div class="container content-row">
</div>
<div class="container content-row">
    <div class="row">
        <div class="span12">
            <style>#NTGUID__7{    overflow: hidden;  }#NTGUID__7 dt.root-title{    display: block;    border:1px solid #F5A623;    border-width: 0 0 2px 6px;    height: 34px;  }#NTGUID__7 dt.root-title h4{    display: inline-block;    vertical-align: middle;    padding: 0 10px;    font-size: 18px;    color: #363636;    margin: 0;    line-height: 34px;  }#NTGUID__7 dt.root-title a{    vertical-align: middle;    display: inline-block;    zoom:1;    line-height: 20px;    height: 20px;    color: #555;    text-align: center;    padding: 0 10px;    margin-left: 5px;  }#NTGUID__7 dt.root-title a:hover{    text-decoration: none;    background-color: #EBEBEB;    border-radius: 3px;    -webkit-border-radius: 3px;    -moz-border-radius: 3px;  }#NTGUID__7 dt.root-title a.current{    background-color: #F5A623;    border-radius: 3px;    -webkit-border-radius: 3px;    -moz-border-radius: 3px;    color: #fff;  }#NTGUID__7 dd.root-content{    display: block;    overflow: hidden;  }#NTGUID__7 dd.hide{    display: none;  }#NTGUID__7 dd.root-content ul{    display: block;    width: 900px;  }#NTGUID__7 dd.root-content li{    float: left;    width: 213px;    height: 210px;    margin-right: 10px;    margin-top: 10px;    overflow: hidden;    border: 1px solid #EBEBEB;  }#NTGUID__7 dd.root-content li .li-content{    height: 210px;  }#NTGUID__7 dd.root-content li .li-content dd{    width: 213px;    height: 150px;    overflow: hidden;  }#NTGUID__7 dd.root-content li .li-content dd img{    width: 215px;    height: 150px;  }#NTGUID__7 dd.root-content li .li-content dt{    height: 49px;    overflow: hidden;    padding: 5px 10px;    background-color:#fff;  }#NTGUID__7 dd.root-content li .li-content dt h4{    display: block;    margin: 0;    padding: 0;    white-space: nowrap;    overflow: hidden;    text-overflow:ellipsis;  }#NTGUID__7 dd.root-content li .li-content dt h4 a{    font-size: 14px;    font-weight: normal;  }#NTGUID__7 dd.root-content li .li-content dt h4 a:hover{    color: #F97D18;  }#NTGUID__7 dd.root-content li .li-content dt p{    padding: 0;    margin: 0;    color: #999;    margin-top: 5px;  }#NTGUID__7 dd.root-content li .li-content dt p span{    vertical-align: middle;  }#NTGUID__7 dd.root-content li .li-content dt p span.text-error{    color:#FF3B30;    font-size: 18px;    margin-right: 5px;  }#NTGUID__7 dd.root-content li .li-content dt p span.text-price{    text-decoration: line-through;    font-size: 12px;  }#NTGUID__7 dd.root-content li.hover{    box-shadow: 0 0 8px rgba(0,0,0,0.3);    -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.3);    -moz-box-shadow: 0 0 8px rgba(0,0,0,0.3);    border-color: #F5A623;    transition:all 0.3s;    -webkit-transition:all 0.3s;    -moz-transition:all 0.3s;  }#NTGUID__7 dd.root-content li.hover .li-content dt h4 a{    color: #F97D18;  }#NTGUID__7 dd.root-content li.hover .li-content img{    opacity: .8;    filter: alpha(opacity=80);  }</style>
            <div id="NTGUID__7">
                <dl>
                    <dt class="root-title">
                    <h4>推荐场馆</h4>

                    <a data-selector="tabChanger" data-index="0" href="javascript:;" class="current">北京</a>

                    <a data-selector="tabChanger" data-index="1" href="javascript:;" class="">上海</a>

                    <a data-selector="tabChanger" data-index="2" href="javascript:;" class="">广州</a>

                    <a data-selector="tabChanger" data-index="3" href="javascript:;" class="">深圳</a>

                    </dt>

                    <dd class="root-content hide" style="display: block;">
                        <ul class="clearfix">

                            <li class="">
                                <div class="li-content clearfix">
                                    <dl>
                                        <dd><a href="/venue/10052"><img title="曲苑台球俱乐部" src="http://static.wisdom-china.cn//images/1/7836/5914/2270/8c5d0cd1ce647f5460e299d7e17ca830_2_213x150.jpg?556x382"></a></dd>
                                        <dt>
                                        <h4><a href="/venue/10052">曲苑台球俱乐部</a></h4>
                                        <p>
                                            <span class="muted">人均：</span><span class="text-error">¥15</span>
                                        </p>
                    </dt>
                </dl>
            </div>
            </li>
            </ul>
            </dd>
            </dl>
        </div>
    </div>
    <div class="span4 smart-info">
        <h4 class="slider-title"> <span>智能健康资讯</span> </h4>
        <ul class="adv-list">
            <li> <a href="http://www.iyuesai.com/vote/3" target="_blank"><img src="http://static.wisdom-china.cn//images/1/7884/5842/3429/c1901ddf79e24cbdb1d52c2c1d1c5a19_0_0.jpg?80x80" /></a> </li>
            <li> <a href="http://www.iyuesai.com/topic/2776" target="_blank"><img src="http://static.wisdom-china.cn//images/1/1115/3901/3314/9ef63f3cc4c0bd4f85b6aa5066325443_0_0.jpg?80x80" /></a> </li>
            <li> <a href="http://www.iyuesai.com/topic/2777" target="_blank"><img src="http://static.wisdom-china.cn//images/1/3592/2319/5823/887dc94881cc5f898d1252fc0300005e_0_0.jpg?80x80" /></a> </li>
        </ul>
    </div>
</div>
</div>

<script type="text/javascript">Loader.load(['page.index']);</script>
<% include public/bottom.ejs %>